## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'country':['Taiwan', 'China', 'Vietnam', 'Singapore','India','Korea','Japan','Bhutan'],
        'population':np.random.randint(low=999999,high=1899999999, size=8)}
country= pd.DataFrame(data)
country

     country  population
0     Taiwan   221722037
1      China   403110343
2    Vietnam  1757361165
3  Singapore   806328177
4      India   322420017
5      Korea  1375100039
6      Japan  1748987050
7     Bhutan   803045617

In [6]:
#求人口數最多的國家
countrysort =  country.sort_values(by=['population'], ascending=False)
countrysort

     country  population
2    Vietnam  1757361165
6      Japan  1748987050
5      Korea  1375100039
3  Singapore   806328177
7     Bhutan   803045617
1      China   403110343
4      India   322420017
0     Taiwan   221722037

In [8]:
print('人口數最多的國家：{}, 人口數 ：{}'.format(countrysort.iloc[0].country, countrysort.iloc[0].population))

人口數最多的國家：Vietnam, 人口數 ：1757361165