# 作業 : (Kaggle)鐵達尼生存預測精簡版 
https://www.kaggle.com/c/titanic

# [作業目標]
- 試著不依賴說明, 只依照下列程式碼回答下列問題, 初步理解什麼是"特徵工程"的區塊

# [作業重點]
- 試著不依賴註解, 以之前所學, 回答下列問題

# 作業1
* 下列A~E五個程式區塊中，哪一塊是特徵工程?

# 作業2
* 對照程式區塊 B 與 C 的結果，請問那些欄位屬於"類別型欄位"? (回答欄位英文名稱即可) 

# 作業3
* 續上題，請問哪個欄位是"目標值"?

In [5]:
# 程式區塊 A
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

data_path = '../Part02/'
df_train = pd.read_csv(data_path + 'titanic_train.csv')
df_test = pd.read_csv(data_path + 'titanic_test.csv')
#df_train.head(5)
#df_train.head()

In [6]:
df_train.shape

(891, 12)

In [7]:
# 程式區塊 B
# 訓練資料需要 train_X, train_Y / 預測輸出需要 ids(識別每個預測值), test_X
# 在此先抽離出 train_Y 與 ids, 而先將 train_X, test_X 該有的資料合併成 df, 先作特徵工程

train_Y = df_train['Survived']
ids = df_test['PassengerId']
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)
df_test = df_test.drop(['PassengerId'] , axis=1)
# 使用 concat 合併 axis=0 為直向合併
df = pd.concat([df_train,df_test])
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
# 程式區塊 C
# 特徵工程-簡化版 : 全部空值先補-1, 所有類別欄位先做 LabelEncoder, 然後再與數字欄位做 MinMaxScaler
# 這邊使用 LabelEncoder 只是先將類別欄位用統一方式轉成數值以便輸入模型, 當然部分欄位做 One-Hot可能會更好, 只是先使用最簡單版本作為範例
LEncoder = LabelEncoder()
# 除上述之外, 還要把標籤編碼與數值欄位一起做最大最小化, 這麼做雖然有些暴力, 卻可以最簡單的平衡特徵間影響力
MMEncoder = MinMaxScaler()
for c in df.columns:
    if df[c].dtype == 'object': # 如果是文字型 / 類別型欄位, 就先補缺 'None' 後, 再做標籤編碼
        df[c] = df[c].fillna('None')
        df[c] = df[c] = LEncoder.fit_transform(list(df[c].values)).astype(float) 
                      #LEncoder.fit_transform(df[c]) 
    else: # 其他狀況(本例其他都是數值), 就補缺 -1
        df[c] = df[c].fillna(-1)
    # 最後, 將標籤編碼與數值欄位一起最大最小化, 因為需要是一維陣列, 所以這邊切出來後用 reshape 降維
    df[c] = MMEncoder.fit_transform(df[c].values.reshape(-1, 1))
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1.0,0.118683,1.0,0.283951,0.125,0.0,0.775862,0.016072,0.994624,1.0
1,0.0,0.218989,0.0,0.481481,0.125,0.0,0.879310,0.140813,0.569892,0.0
2,1.0,0.400459,0.0,0.333333,0.000,0.0,0.984914,0.017387,0.994624,1.0
3,0.0,0.323124,0.0,0.444444,0.125,0.0,0.070043,0.105390,0.376344,1.0
4,1.0,0.016845,1.0,0.444444,0.000,0.0,0.699353,0.017630,0.994624,1.0

In [13]:
# 將前述轉換完畢資料 df , 重新切成 train_X, test_X, 因為不論何種特徵工程, 都需要對 train / test 做同樣處理
# 常見並簡便的方式就是 - 先將 train / test 接起來, 做完後再拆開, 不然過程當中往往需要將特徵工程部分寫兩次, 麻煩且容易遺漏
# 在較複雜的特徵工程中尤其如此, 若實務上如果碰到 train 與 test 需要分階段進行, 則通常會另外寫成函數處理
train_num = train_Y.shape[0]
train_X = df[:train_num]
test_X = df[train_num:]

# 使用線性迴歸模型 : train_X, train_Y 訓練模型, 並對 test_X 做出預測結果 pred
from sklearn.linear_model import LinearRegression
estimator = LinearRegression()
estimator.fit(train_X, train_Y)
pred = estimator.predict(test_X)

In [14]:
# 程式區塊 E
sub = pd.DataFrame({'PassengerId': ids, 'Survived': pred})
sub.to_csv('titanic_baseline.csv', index=False)

In [15]:
print(sub)

     PassengerId  Survived
0            892  0.107250
1            893  0.483232
2            894  0.184755
3            895  0.074188
4            896  0.595188
5            897  0.081475
6            898  0.650298
7            899  0.243488
8            900  0.746234
9            901  0.038504
10           902  0.164565
11           903  0.309946
12           904  0.919786
13           905  0.145829
14           906  0.803034
15           907  0.717334
16           908  0.264839
17           909  0.218163
18           910  0.536160
19           911  0.673824
20           912  0.294421
21           913  0.089664
22           914  0.940758
23           915  0.392397
24           916  0.903858
25           917 -0.037053
26           918  1.022384
27           919  0.202843
28           920  0.439738
29           921  0.158267
..           ...       ...
388         1280  0.141444
389         1281  0.013054
390         1282  0.462242
391         1283  0.801183
392         1284  0.120243
393         1285  0.167320
394         1286 -0.013103
395         1287  0.918460
396         1288  0.126999
397         1289  0.948077
398         1290  0.108631
399         1291  0.157565
400         1292  0.966506
401         1293  0.199607
402         1294  1.019792
403         1295  0.470873
404         1296  0.415767
405         1297  0.273659
406         1298  0.191349
407         1299  0.436438
408         1300  0.688242
409         1301  0.571426
410         1302  0.676324
411         1303  0.915871
412         1304  0.614448
413         1305  0.117488
414         1306  0.931862
415         1307  0.009709
416         1308  0.124812
417         1309  0.189577

[418 rows x 2 columns]